{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}
<style>
    body {
        background-color:  rgb(31, 31, 61); /* Warna ungu */
        color: white;
        font-family: Arial, sans-serif;
    }

    /* Style untuk judul */
    .judul {
        text-align: center;
        color: white;
    }

    /* Style untuk isi tabel */
    .table {
        background-color: transparent;
        color: white;
        text-align: center; /* Rata tengah tulisan pada tabel */
        border-color: white;
    }

    .table th {
        background-color: rgba(109, 109, 169, 0.5);
        border-color: white;
        color: white;
    }

    .btn-primary,
    .btn-primary:hover {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-danger,
    .btn-danger:hover {
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>

    <div class="container mt-5" style="padding-top: 40px;">

        <h1 class="mb-4">Daftar Kontributor</h1>

        <div class="input-group mb-3">
            <select class="form-control" aria-label="Search by Tipe" aria-describedby="button-search" onchange="refreshTable()">
                <option value="none">Semua</option>
                <option value="penulis_skenario">Penulis Skenario</option>
                <option value="pemain">Pemain</option>
                <option value="sutradara">Sutradara</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-search">Search</button>
            </div>
        </div>
        
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Tipe</th>
                    <th scope="col">Jenis Kelamin</th>
                    <th scope="col">Kewarganegaraan</th>
                </tr>
            </thead>
            <tbody name="table-content">
            </tbody>
        </table>

    </div>

    <script>
        async function refreshTable() {
            const tableContent = document.querySelector('tbody[name="table-content"]');
            tableContent.innerHTML = '';
            
            const tipe = document.querySelector('select').value;
            const response = await fetch(`/kontributor/get-list/{{ id_tayangan }}/${tipe}`);
            var data = (await response.json()).data;

            data.forEach(kontributor => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${kontributor.nama}</td>
                    <td>${kontributor.tipe}</td>
                    <td>${kontributor.jenis_kelamin}</td>
                    <td>${kontributor.kewarganegaraan}</td>
                `;
                tableContent.appendChild(row);
            });
        }

        document.onContentLoaded = refreshTable();

        showNavbar(true);
    </script>

{% endblock content %}