{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<style>
    body {
        background-color:  rgb(31, 31, 61); /* Warna ungu */
        color: white;
        font-family: Arial, sans-serif;
    }

    /* Style untuk judul */
    .judul {
        text-align: center;
        color: white;
    }

    /* Style untuk isi tabel */
    .table {
        background-color: transparent;
        color: white;
        text-align: center; /* Rata tengah tulisan pada tabel */
        border-color: white;
    }

    .table th {
        background-color: rgba(109, 109, 169, 0.5);
        border-color: white;
        color: white;
    }

    .btn-primary,
    .btn-primary:hover {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-danger,
    .btn-danger:hover {
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>

<div class="container mt-5" style="padding-top: 25px;">

    <h1 class="mb-4">Halaman Kelola Langganan</h1>

    <!-- Paket Langganan Aktif -->
    <div class="mb-5">
        <h2>Paket Langganan Aktif</h2>
        <table class="table" name="table-langganan-aktif">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Resolusi Layar</th>
                    <th scope="col">Dukungan Perangkat</th>
                    <th scope="col">Tanggal Dimulai</th>
                    <th scope="col">Tanggal Akhir</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Pilih Paket Lain -->
    <div class="mb-5">
        <h2>Pilih Paket Lain</h2>
        <table class="table" name="table-paket">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Resolusi Layar</th>
                    <th scope="col">Dukungan Perangkat</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Riwayat Transaksi -->
    <div>
        <h2>Riwayat Transaksi</h2>
        <table class="table" name="table-riwayat-transaksi">
            <thead>
                <tr>
                    <th scope="col">Nama Paket</th>
                    <th scope="col">Tanggal Dimulai</th>
                    <th scope="col">Tanggal Akhir</th>
                    <th scope="col">Metode Pembayaran</th>
                    <th scope="col">Tanggal Pembayaran</th>
                    <th scope="col">Total Pembayaran</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<script>

    async function beliPaket(namaPaket) {

        // redirect to beli_langganan.html
        window.location.href = `beli/${namaPaket}`;

    }
    
    async function refreshRiwayatTransaksi() {

        const response = await fetch(
            'get-riwayat/', {
            method: 'GET'
        });

        let data = (await response.json()).data;
        data = data.sort((a, b) => new Date(b.timestamp_pembayaran) - new Date(a.timestamp_pembayaran));

        const tableRiwayatTransaksi = document.querySelector('table[name="table-riwayat-transaksi"] tbody');
        tableRiwayatTransaksi.innerHTML = '';

        if (data.length > 0) {
            data.forEach(transaksi => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${transaksi.nama_paket}</td>
                    <td>${transaksi.start_date_time}</td>
                    <td>${transaksi.end_date_time}</td>
                    <td>${transaksi.metode_pembayaran}</td>
                    <td>${transaksi.timestamp_pembayaran.split("T").join(" ")}</td>
                    <td>${transaksi.harga}</td>
                `;
                tableRiwayatTransaksi.appendChild(row);
            });
        } else {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            `;
            tableRiwayatTransaksi.appendChild(row);
        }
    }

    async function refreshDaftarPaket() {

        const response = await fetch(
            'get-paket/', {
            method: 'GET'
        });

        let data = (await response.json()).data;
        data = mergeDuplicates(data).sort((a, b) => a.harga - b.harga);

        const tablePaket = document.querySelector('table[name="table-paket"] tbody');
        tablePaket.innerHTML = '';

        data.forEach(paket => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${paket.nama}</td>
                <td>${paket.harga}</td>
                <td>${paket.resolusi_layar}</td>
                <td>${paket.dukungan_perangkat}</td>
                <td>
                    <button class="btn btn-primary" name="button-beli" value="${paket.nama}">Beli</button>
                </td>
            `;
            tablePaket.appendChild(row);
        });

        const buttonsBeli = document.querySelectorAll('button[name="button-beli"]');
        buttonsBeli.forEach(button => {
            button.addEventListener('click', () => {
                beliPaket(button.value);
            });
        });
        
    }

    async function refreshTableLanggananAktif() {

        const response = await fetch(
            'get-langganan/', {
            method: 'GET'
        });
        let data = (await response.json()).data;

        console.log(data);

        const tableKelolaLangganan = document.querySelector('table[name="table-langganan-aktif"] tbody');
        tableKelolaLangganan.innerHTML = '';

        if (data.length > 0) {
            data.forEach(langganan => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${langganan.nama_paket}</td>
                    <td>${langganan.harga}</td>
                    <td>${langganan.resolusi_layar}</td>
                    <td>${langganan.dukungan_perangkat}</td>
                    <td>${langganan.start_date_time}</td>
                    <td>${langganan.end_date_time}</td>
                `;
                tableKelolaLangganan.appendChild(row);
            });
        } else {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            `;
            tableKelolaLangganan.appendChild(row);
        }

    }

    function mergeDuplicates(data) {

        const merged = data.reduce((acc, current) => {
            const key = `${current.nama_paket}-${current.harga}-${current.resolusi_layar}-${current.start_date_time}-${current.end_date_time}`;
            
            if (!acc[key]) {
                acc[key] = {
                    ...current,
                    dukungan_perangkat: [current.dukungan_perangkat]
                };
            } else {
                if (!acc[key].dukungan_perangkat.includes(current.dukungan_perangkat)) {
                    acc[key].dukungan_perangkat.push(current.dukungan_perangkat);
                }
            }
            
            return acc;
        }, {});

        return Object.values(merged).map(item => ({
            ...item,
            dukungan_perangkat: item.dukungan_perangkat.sort().join(', ')
        }));

    }

    document.addEventListener("DOMContentLoaded", async () => {
        refreshTableLanggananAktif();
        refreshDaftarPaket();
        refreshRiwayatTransaksi();
    });
    
</script>

{% endblock content %}