{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}
<style>
    .cover {
      background-size: cover;
      background-position: center;
      background-color: rgb(31, 31, 61);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
    }

    .cover-text {
      padding: 20px;
      border-radius: 10px;
    }
  </style>        
</head>

<body>
<div class="text-center">
    <div class="cover">
        <div class="cover-text">
          <h1>Welcome to PacilFlix</h1>
          <p>PacilFlix-E8</p>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-secondary" type="button">Login</button>
            <button class="btn btn-outline-secondary" type="button">Register</button>
          </div>
        </div>
      </div>
</div>
</body>
{% endblock content %}